body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.bottom_side {
    background: linear-gradient(#626840,#596459);
    padding: 15px;
}

/* HEADER */
html {
    background:  #0e0e0e;
    padding: 0 80px;
}

header .top {
    display: flex;
    background: linear-gradient(#3c640b, #69a514);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .top form input {
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;    
}

header .top form button {
    background: linear-gradient(#966903, #dbbb04);
    color: white;
    border: 1px solid #dbbb04;
    border-radius: 5px;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
    text-align: left;;
}

.logo img {
    margin-right: 10px;
}

.logo p {
    margin: 0;
}

.logo p span:first-child {
    font-weight: bold;
}

.logo p:first-child {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.logo p span:last-child {
    color: #cdf658;
}

.logo p:last-child {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.banner {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.7);
    background: url(/assets/img/background.png) no-repeat center/cover;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner div {
    margin-left: 60px;
    font-family: 'Caveat', cursive;
}

.banner div p {
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);   
}

.banner div p:first-child {
    font-size: 40px;
}

.banner div p:last-child {
    font-weight: bold;
    font-size: 50px;
    text-indent: 20px;
}

.banner div p:last-child span {
    color: #b2fd04;
}

header nav {
    background: linear-gradient(#416b06, #73ad18 80%, #416b06);
    padding: 10px 0 4px;
}

header nav ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #92c141;
    margin: 0;
}

header nav ul li {
    list-style: none;
    border-right: 1px solid #3f7003;
    border-left: 1px solid #6ea12b;
    padding: 10px 0;
    flex-basis: 100%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

header nav ul li:first-child {
    border-left: none;
    
}

header nav ul li:last-child {
    border-right: none;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

/* MAIN */

.content {
    display: flex;
    justify-content: space-between;
}

.content-left {
    flex-basis: 30%;

}

.content-left section {
    background: linear-gradient(#d7e0d3, #d6e1d2);
    padding: 4px;
}

.content-left section h3 {
    text-transform: uppercase;
    color: white;
    background: #4e7d0e;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    margin: 0;
}

.content-left article {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    padding: 15px 10px;    
    border-bottom: 2px groove white;
}

.content-left article img {
    border: 2px solid #949788;
    width: 120px;
    height: 100px;
    margin-right: 10px;
}

.content-left article p {
    margin: 0;
}

.content-left p a {
    color: #b68d02;
    font-weight: bold;
}

.content-left .bottom {
    background: linear-gradient(to bottom right, #bddb8d, #fff);
    padding: 35px 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.content-left .bottom .left p {
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    margin: 0;
}

.content-left .bottom .left p:last-child {
    margin-left: 25px;
}

.content-left .bottom .left span {
    font-size: 20px;
    color: #47790d;
}

.content-left .bottom .right p {
    color: white;
    font-size: 45px;
    margin: 0;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.content-right {
    display: flex;
    flex-direction: column;
    flex-basis: 69%;
}

.content-right .top {
    position: relative;
    background: linear-gradient(#71ae18,#598715);
    flex-basis: 31%;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
}

.content-right .top h2 {
    color: white;
    font-size: 20px;
    margin: 5px 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.content-right .top p {
    color: white;
    line-height: 25px;
}

.content-right .top a {
    position: absolute;
    color: #c8d427;
    font-weight: bold;
    text-decoration: none;
    bottom: 10px;
    right: 20px;
}

.content-right .top a::before {
    content: '\003E';
    margin-right: 4px;
    border: 2px solid #c8d427;
    padding: 0 3px;
    background-color: #a49c00;
}

.content-right .bottom {
    position: relative;
    flex-basis: 67%;
    background: linear-gradient(#d7e0d3,#d6e1d2);
    padding: 10px;
    box-sizing: border-box;
}

.content-right .bottom h2 {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #4a7808;
    margin: 0;
    padding: 10px 10px 8px;
}

.content-right .bottom .news {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.content-right .bottom .news img {
    border: 2px solid #9baba8;
}

.content-right .bottom .news .description {
    flex-basis: 60%;
}

.news-links a {
   display: block;
    text-decoration: none;
    margin: 5px 0;
    color: #4b7c0c;
}

.news-links {
    width: 80%;
    margin: 40px auto 0;
}

.news-links a:hover {
    text-decoration: underline;
}

.news-links a::before {
    content: '\00BB';
    margin-right: 10px;
}

.content-right .bottom > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content-right .bottom > a::before {
    content: '\003E';
    margin-right: 10px;
    border: 2px solid #50721d;
    padding: 0 3px;
    background-color: #77aa27;
}

footer {
    margin-top: 15px;
}

footer ul {
    display: flex;
    background: linear-gradient(#629a31, #558022);
    padding: 15px 0;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

footer ul li {
    list-style: none;
    border-right: 1px solid #d1fb4a;
    padding: 0 20px;
}

footer ul li:last-child {
    border: none;
}

footer ul li a {
    text-decoration: none;
    color:  #d1fb4a;
    font-weight: bold;
    text-align: center;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer p {
    color: white;
    margin: 20px 0 0 0;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #d1fb4a;
}

footer p a:hover {
    text-decoration: underline;
}